$primary: rgb(0, 172, 107);
$secondary-dark: rgb(32, 129, 93);
$secondary-light: rgb(53, 214, 153);
$dark: rgb(0, 112, 70);
$light: rgb(96, 214, 169);
$green-gray: rgb(184, 204, 184);
$black: rgb(0, 0, 0);
$dark-gray: rgb(92, 109, 125);
$gray: rgb(153, 153, 153);
$light-gray: rgb(204, 204, 204);
$white-smoke: rgb(238, 238, 238);
$white: rgb(255, 255, 255);

$red: rgb(255, 0, 0);
$blue: rgb(0, 59, 231);
$yellow: rgb(253, 251, 0);
$orange: rgb(255, 153, 0);
//https://colorscheme.ru/#3511Tw0w0w0w0
