@import '@/styles/variables.scss';
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 200px;
	padding: 20px;
	background: rgba($white, 0.9);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

	&__partners {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 20%;
			width: 60%;
			height: 1px;
			background-color: $primary;
			transform: translateY(-50%);
		}
	}

	&__copyrights {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
}
