@import '@/styles/variables.scss';
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding: 30px;
	background: $white;
	text-align: center;
	color: $primary;
	&__content {
		width: 100%;
		.form__error {
			color: $red;
		}
	}
}
